body {
  font-family: "Gilroy", "Arial", sans-serif;
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}
