body {
  font-family: "Gilroy", 'Arial', sans-serif;
}

.container {
  width: 100%;
  max-width: 1020px;
  padding: 0 20px;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

// Scrollbar
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #B6B6B6 #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 4px;
  width: 4px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #B6B6B6;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #979797;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #898989;
}


.round-btn {
  cursor: pointer;

  width: 53px;
  height: 53px;

  padding: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  color: var(--content-color-alt);
  background-color: var(--content-color);

  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba($color: $black, $alpha: 0.25);
  transition: all .3s;

  svg {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center;
  }

  path {
    stroke: currentColor;
    fill: currentColor;
  }

  &:hover,
  &:focus {
   opacity: 0.7;
  }

  &--alt-theme {
    color: var(--content-color);
    background-color: var(--content-color-alt);
  }
}

.section {
  padding: 60px 0;

  @media (min-width: 768px) {
    padding: 80px 0;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;

  gap: 35px;
  margin-bottom: 55px;

  &--between {
    justify-content: space-between;
  }
}

.title {
  font-size: 36px;
  color: var(--content-color);
  font-weight: 500;

  margin: 0;
}

.d-block {
  display: flex;
  align-items: center;

  padding: 0.7em 1.7em;

  color: var(--content-color-alt);

  border-radius: 7px;
  background-color: var(--content-color);
}

input[type="text"] {
  padding: 7px 15px;
  border:0;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  color: inherit;

  transition: all .3s;

  &::placeholder {
    opacity: 0.6;
    color: currentColor;
  }

  &:hover,
  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: 0.8;
  }
}

.selector {
  position: relative;
  // .selector__btn

  &__btn {
    font-weight: 500;
    font-size: 18px;
    transition: all .3s;

    &:hover,
    &:focus {
     opacity: 0.8;
    }
  }

  // .selector__list

  &__list {
    position: absolute;
    right: 0;
    bottom: -10px;

    min-width: 100%;

    display: none;
    flex-direction: column;

    color: var(--content-color-alt);

    background-color: var(--content-color);
    box-shadow: 0 0 5px rgba($color: $black, $alpha: 0.25);
    border-radius: 7px;

    transform: translateY(100%);
    z-index: 10;

    &.active {
      display: flex;
    }

    &--icon-select {
      flex-wrap: wrap;
      flex-direction: row;
      gap: 5px;

      padding: 10px;

      max-height: 170px;
      overflow: auto;

      color: var(--content-color-alt);

      background-color: var(--content-color);
      box-shadow: 2px 2px 6px 0px rgba(34, 60, 80, 0.3);
      border-radius: 5px;

      .selector {
        &__list-btn {
          width: 45px;
          height: 45px;

          padding: 10px;

          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          opacity: 0.7;

          border: 1px solid currentColor;
          border-radius: 5px;
          transition: all .3s;

          svg {
            width: 100%;
            height: 100%;

            object-fit: contain;
            object-position: center;
          }

          path {
            fill: currentColor;
            stroke: currentColor;
          }

          &:hover,
          &:focus {
           opacity: 1;
          }

          &:last-child {
            border-color: inherit;
          }

          &:disabled {
            opacity: 0.4;
          }
        }
      }
    }
  }

  // .selector__list-btn

  &__list-btn {
    width: 100%;

    padding: 17px 25px;

    font-size: 16px;
    font-weight: 500;

    border-bottom: 1px solid #eaeaea;
    transition: all .3s;

    &:last-child {
      border-color: transparent;
    }

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}
